# vendor files
vendor

# app files
*-local.php

# codeception files
tests/_output/*
tests/_output/*
tests/_output/*
tests/_output/*
tests/_output/*
tests/_output/*
tests/_output/*
tests/_output/*
tests/_output/*
tests/_output/*